<div class="creditea-checkout-banner" data-bind="afterRender: function() { initCrediteaBanner(); }">
    <a href="https://aut01.ecommerce.creditea.com/mx/apply/widget?amount=500" data-vbtype="iframe" data-customclass="popup-creditea" class="creditea-click vbox-item">
        <img src="http://magento.test/static/version1745489571/frontend/Magento/luma/es_MX/Creditea_Magento2/images/promo/CrediteaPay_Promo3.png" alt="Promo Image Above Add To Cart">
    </a>
</div>

<script>
    function initCrediteaBanner() {
        // Tutaj możesz dodać kod JS dla swojego banera
        console.log('Creditea banner initialized');
    }
</script>