<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
            data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label" style="height:30px;">
            <span data-bind="html: getTitle()"></span> <img data-bind="attr: {src: require.toUrl('Creditea_Magento2/images/Creditea-Logo.svg')}" width="134px" height="24px" />
        </label>
    </div>

    <div class="payment-method-content">
      <div class="creditea-container">

        <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() -->
        <!-- /ko --><!--/ko-->
            
            
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>

        <div id="creditea-details" style="padding: 5px 10px 10px 18px;">
            <div data-bind="html: 'Creditea Pay is a <b>line of credit</b> that lets you shop and <b>split</b> your purchases into convenient <b>bi-weekly payments, with no upfront payment</b>. <b>No interest</b> if you pay the <b>full amount</b> of the purchase in <b>2 or 4 bi-weekly installments</b>, depending on the store. Check out the <b>Creditea Pay discounts</b>, <b>available in-store</b>.'"></div>
        </div>        
        
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

      </div>
    </div>
</div>
